
{% load category_tags %}

<li x-data="{ open: false }" class="ml-4">
  <div 
    @click="open = !open"
    class="cursor-pointer flex items-center space-x-2 p-2 rounded hover:bg-gray-100"
  >
    {% if children %}
      <span x-show="!open">▶</span>
      <span x-show="open">▼</span>
    {% endif %}
    <span class="font-medium">{{ name }}</span>
  </div>

  {% if children %}
    <ul x-show="open" x-transition class="ml-6 space-y-1 mt-1">
      {% for child_name, child_children in children.items %}
        {% include "categories/category_node.html" with name=child_name children=child_children  %}
      {% endfor %}
    </ul>
  {% endif %}
</li>
